<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pr="http://primefaces.org/ronin">

	<div id="layout-menu-cover">
		<ui:include src="topbar.xhtml" />
		<h:form id="menuform">
			<pr:menu>
			</pr:menu>
		</h:form>
	</div>

</ui:composition>
