<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

    <h:head>
        <f:facet name="first">
            <meta http-equiv="X-UA-Compatible" content="IE=edge" />
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
            <meta name="apple-mobile-web-app-capable" content="yes" />
        </f:facet>
        <title>PrimeFaces Ronin</title>
        <h:outputScript name="js/layout.js" library="ronin-layout" />

        <ui:insert name="head" />
        <style type="text/css">
            .jqplot-target, .jqplot-axis {
                color: #778D9B;
            }
        </style>
    </h:head>

    <h:body>
        
        <div id="wrapper">
            <div id="wrapperIndent">

                <ui:include src="layoutmenu.xhtml" />

                <div id="layout-portlets-cover">
                    <div class="Flex">
                        <div class="FlexRow">
                            <div class="FlexCell">
                                
                                <ui:insert name="content">
                                    Template
                                </ui:insert>
                                
                               
                                
                            </div>
                        </div>
                    </div>
                </div>
                
                <p:ajaxStatus style="width:32px;height:32px;position:fixed;right:7px;bottom:7px">
                    <f:facet name="start">
                        <p:graphicImage name="images/preloader.gif" library="org.primefaces.ronin-layout"/>
                    </f:facet>

                    <f:facet name="complete">
                        <h:outputText value="" />
                    </f:facet>
                </p:ajaxStatus>
            </div>
        </div>

        <h:outputStylesheet name="css/core-layout.css" library="ronin-layout" />
        <h:outputStylesheet name="css/font-awesome.css" library="ronin-layout" />
        <h:outputStylesheet name="css/animate.css" library="ronin-layout" />
        <h:outputStylesheet name="css/ronin-font.css" library="ronin-layout" />
        <h:outputStylesheet name="css/ronin-layout-light.css" library="ronin-layout" />
    </h:body>

</html>